
body {
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-size: cover;
    background-image: url('img/background_sec1.jpeg');
    color: #bbddff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    background-repeat: no-repeat
}

.brand{
    width: 173%
}

.video-box {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}


.body-content {
    width: 100%;
    height: 100%;
    min-height: 61vh;
}

.navbar {
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: white;
    --bs-navbar-hover-color: #93cdff;
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: #93cdff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    --bs-navbar-brand-margin-end: 0;
}

.dropdown-menu{
    background-color:transparent;
}

.dropdown-item {
    color:white;
}
    .dropdown-item:hover {
        background-color: #93cdff;
        color: #003b6e;
        border-radius:10px;
        font-weight:700
    }

.main {
    height: 100%;
    min-height: 100vh;
}

.btn-outline-info {
    --bs-btn-color: #4eb6bf;
    --bs-btn-border-color: #4eb6bf;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #4eb6bf;
    --bs-btn-hover-border-color: #4eb6bf;
    font-weight:700
}

.btn-outline-light {
    --bs-btn-color: #93cdff;
    --bs-btn-border-color: #93cdff;
    --bs-btn-active-bg: #93cdff;
    --bs-btn-active-border-color: #93cdff;
    --bs-btn-hover-color: #003b6e;
    --bs-btn-hover-bg: #93cdff;
    --bs-btn-hover-border-color: #93cdff;
    font-weight: 700
}

#contact{
    position:relative;
    width: 40vw;
    height: 70vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size: COVER;
}
    #contact::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 25%);
        
    }

.rowContact {
    height: inherit;
    width: inherit;
    align-items: center;
    position:relative;
    padding-top: 9em;
}

footer {
    font-size: 10px
}

textarea{
    width:100%
}

a {
    text-decoration: none;
    color: #fdc2f3;
    font-weight: bold
}

a:hover{
    color: white
}

.form-group{
    width: 75vw;
    margin-top: 0.5em
}
.form-control[type=file] {
    display: none;
}

.input-group-text {
    color: #bbddff;
    background-color: transparent;
    border: 1px solid #bbddff;
    padding: 0
}

#tariffe {
    border-left: 2px solid #bbddff;
    color: #bbddff;
}

.tariffe {
    height: 30px;
    background-color: #bbddff;
    border-radius: 6px;
    padding: 0.5em;
}
.bi-camera2 {
    font-size: 4em;
    padding: 0.5em;
    vertical-align: middle;
    line-height: normal
}

#Vetrina {
    height: 150px;
    width: 150px;
}

.bi-camera-fill{
    padding:0.5em
}

.picture:hover {
    transition: ease-in-out 0.3s;
    transform: scale(4.5)
}

#IdTariffe {
    font-size: 0.9rem;
    font-weight: 700
}

.btn-info {
    --bs-btn-bg: #bbddff;
    --bs-btn-border-color: #bbddff;
    --bs-btn-hover-bg: #bbddff;
    --bs-btn-hover-border-color: #bbddff;
    --bs-btn-active-bg: #bbddff;
    --bs-btn-active-border-color: #bbddff;
    font-size: 0.9rem;
}

.home {
    height: 100%;
    background-color: #00000094;
    position: absolute;
    top: 0;
    left: 0;
    width: 49.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
}

.start{
    z-index:1
}

.active {
    border-top-color: #56abf5;
    border-top: 2px solid;
}

.nav-link:hover {
    border-top-color: #56abf5;
    border-top: 2px solid;
}

.div-title{
    color: white
}
.title {
    font-size: 5rem;
    margin: 0;
    line-height: normal;
}
#aziendaBtn {
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: #93cdff;
    --bs-btn-hover-border-color: #93cdff;
    --bs-btn-active-bg: #56abf5;
    --bs-btn-active-border-color: #56abf5;
}

.btn-light {
    --bs-btn-bg: #ffd4ea;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: #fdc2f3;
    --bs-btn-hover-border-color: #fdc2f3;
    --bs-btn-active-bg: #ffd4ea;
    --bs-btn-active-border-color: #ffd4ea;
    font-size: 0.9rem;
}
#LinkAzienda {
    color: white
}
    #LinkAzienda:hover {
        color: #4a6464
    }

.container-fluid {
    padding-right: 0;
    padding-left: 0
}
.tableBack {
    background-color: #000000c2;
    padding-top: 30px;
    height: 100%;
    margin: auto;
    padding-bottom: 2rem
}

tbody {
    color: #93cdff
}

:root {
    --bs-body-color: #bbddff;
    --bs-warning-rgb: 255, 122, 142;
    --bs-black-rgb: 35, 60, 60;
}

.bg-black {
    --bs-bg-opacity: 0.62;
}

.sectionhome {
    position: relative;
    width: 75%;
}

h1 {
    color: #93cdff;
    font-size: 50px
}

h3 {
    color: #93cdff;
}

.video-box {
    position: relative;

}

.border-animation {
    position: absolute;
    top: -25px;
    width: 5rem;
    height: 5rem;
    border: 0.55rem solid #93cdff;
    border-radius: 50%;
    animation: pulse-border 1s linear infinite;
}

.start-50:hover {
    color: #56abf5;
}

iframe {
    width: 100%;
    height: 100%;
}

.xclose {
    position: absolute;
    right: -4px;
    font-size: 21px;
    top:-10px;
    color:white;
    background-color:transparent;
    border-color: transparent
}

.modb {
    height: 45vh;
    background-color: black
}
.border1 {
    animation-delay: 2s;
}

.border2 {
    animation-delay: 1s;
}

@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.col-md-6 p {
    font-size: 14px
}

#toggle-btn {
    position: relative;
    width: 31px;
    height: 16px;
    border-radius: 24px;
    background-size: 100%;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}

.btn-tog {
    background-color: #56abf5
}
.togP {
    background-color: #003b6e
}

.publish, .unpublish{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    transition: all ease-in-out 0.4s;
    z-index: 9;
}

.publish {
    left: 2px;
}
.unpublish {
    left: 17px;
}

.pubblica {
    color: #003b6e;
    background-color: #93cdff;
    font-weight: 700;
}

.nonPubblica {
    color: #748299;
    background-color: #cdd7e1;
}

.card{
    background-color: transparent;
}

.card-title{
    font-size: 17px
}

.card-body {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px
}

.img-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal {
    --bs-modal-color: #405f6a;
}

.btn-secondary {
    --bs-btn-bg: #4d7987;
    --bs-btn-border-color: #29505c;
    --bs-btn-hover-bg: #29505c;
    --bs-btn-hover-border-color: #29505c;
}

.fw-normal{
    font-size: 14px
}

.car-img {
    width: 70vw;
    height: 80vh;
}
.img-ev{
    height:60vh;
    background-position:center;
    background-size:auto;
}
.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border: 0;
}

.pic1 {
    background-image: url('img/11.jpg');
}
.pic2 {
    background-image: url('img/9.jpg');
}
.pic3 {
    background-image: url('img/41.jpg');
}
.pic1 {
    background-image: url('img/51.jpg');
}
.pic4 {
    background-image: url('img/28.jpg');
}
.separator {
    height: 5px;
    border-top: 1px solid #c6e2fd;
    opacity: 2;   
    text-align: center
}

.cont-ev {
    width: 70vw;
}

.btn-warning {
    --bs-btn-bg: #ffd4ea;
    --bs-btn-border-color: #ffd4ea;
    --bs-btn-hover-border-color: #FFA7D3;
    --bs-btn-active-bg: #ffd4ea;
    --bs-btn-active-border-color: #ffd4ea;
    --bs-btn-active-shadow: #ffd4ea;
    --bs-btn-hover-bg: #FFA7D3;
}

.events {
    background-color: #233c3c9e;
}

.events-img {
    height: 410px;
    width: 410px;
    background-position-x: center;
    background-size: cover;
}

.tar-square {
    border-right: 1px solid #ffd4ea;
    border-left: 1px solid #ffd4ea;
    font-size: 14px;
    text-align: center;
    line-height: normal
}

.input-nr, .note {
    background-color: transparent;
    border: 0.5px solid #ffd4ea;
    color: #ffd4ea;
}
.note {
    width: 20vw;
}

.TarPic {
    background-color: #ffd4ea;
    color: #4a6464;
    width: 6.5vw;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0
}

.list-group-item {
    color: #29505c;
}

#login {
    margin: auto;
    background-color: #212529ab;
    width: 300px;
    padding-bottom: 10px;
    border-radius: 20px;
}

#register {
    margin: auto;
    background-color: #212529ab;
    width: 700px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.input-group-text {
    height: 58px;
    justify-content:center;
    font-size: 20px;
    width: 58px;
}

#userLogin, #userReg {
    text-align: center;
    font-size: 5rem;
    line-height: 0;
    padding-top: 10px
}
.form-floating > .form-control {
    background-color: transparent;
    border-color: #93cdff
}

#oppureLogin{
    font-size:10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.alert-info {
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 30%;
    right: 30%;
    z-index: 10;
}

.btn-success {
    --bs-btn-color: #157347;
    --bs-btn-bg: #b3fbd9;
    --bs-btn-border-color: #157347;
}

.btn-primary {
    --bs-btn-bg: #509db5;
    --bs-btn-border-color: #29505c;
    --bs-btn-hover-bg: #29505c;
    --bs-btn-hover-border-color: #29505c;
    --bs-btn-active-bg: #29505c;
    --bs-btn-active-border-color: #29505c;
}

/*Prodotti*/

    .theme-light {
    color: #263d51;
    background-color: white;
    transition: background-color 0.8s all ease-in-out, color 0.8s ease-in-out;
}
.theme-dark {
    color: white;
    background-color: #263d51;
    transition: background-color 0.8s all ease-in-out, color 0.8s ease-in-out;
}

#visualLight{
    width:65vw
}

.scene1 {
        background-color: white;
        color: #3f6164;
}
.scene2 {
    background-color: #263d51;
    color: #f4f4f4;
}

.togLight {
    background-color: #56abf5;
}
.togDark {
    background-color: #16232e;
}


#scene1 {
    padding-top: 3rem;
    transition: background-color 0.8s all ease-in-out, color 0.8s ease-in-out;
}
.imgBot {
    justify-content: center;
    height: 25rem;
}

.descr {
    flex-direction: column;
    font-size: 90%;
    padding: 10%;
    font-style: italic;
}


.togLight, .togDark {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 24px;
    background-image: url("img/background2x.png");
    background-size: 100%;
    transition: ease-in-out 0.8s;
    cursor: pointer;
    background-position: center;
}

.togLight:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #f4f4f4;
    left: 4px;
    top: 3px;
    transition: all ease-in-out 0.8s;
    z-index: 9;
}

    .togDark:before {
        position: absolute;
        content: "";
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #f4f4f4;
        top: 3px;
        transition: all ease-in-out 0.8s;
        z-index: 9;
        left: 34px;
    }

/**/

.tableBook, .contTable {
    background-color: #f0ffffa8;
    color: #154166;
    width: 1100px
}

.rowTitle {
    color: #004f91;
    font-size:15px
}

.rowItem{
    font-size: 12px
}

.inArrivo {
    background-color: #ff91ba2b;
    color: #ffc4da
}

.arrivati {
    background-color: #4bcaf94a;
    color: #d6f4ff;
}

.logoText{
    font-size: 25px
}

.titleEditBook{
    padding-left: 12%
}

.contTable{
    width:750px
}

.tarRow {
    font-size: 13px
}

.tarInput {
    font-size:inherit;
    height:70%
}

.EditPartial {
    background-color: #29505c;
    color: #ffd4ea;
}

#Nome{
    background-color:transparent;
    border:none
}
@media screen and (min-width: 1440px) {
    .body-content {
        min-height: 69vh;
    }
}
@media screen and (min-width: 2200px) {
    .body-content {
        min-height: 81vh;
    }
}

