@{
    ViewBag.Title = "About";
}

<section class="container-fluid tableBack">
    <div class="container-fluid pt-5 pb-5 text-white sectionhome">
        <div class="row align-items-center text-center text-md-start mb-md-4">
            <div class="col-md-6 p-4">
                <h1>Cantina Tredaniele</h1>
                <h3>Vini e spumanti del Cilento</h3>
                <p>
                    Stai per iniziare il viaggio alla scoperta della Cantina Tredaniele e dei tre fratelli innamorati della propria terra ed eredi di una
                    famiglia storica di Trentinara.
                </p>
                <p>
                    Siamo a Trentinara, in provincia di Salerno, possiamo volgere lo sguardo verso il mare, abbracciare il Cilento, la vallata di Paestum e la costiera amalfitana, fino a scorgere Capri da
                    lontano.
                </p>
                <p>
                    I vitigni che oggi definiamo autoctoni del Cilento furono portati dai colonizzatori greci giunti dalle coste del Peloponneso. Trovarono, in questa terra dura da coltivare, il suolo
                    ideale per crescere la vite: colline, montagne e pianure che, in pochi chilometri, portano al meraviglioso mare che bagna la costa tra le più suggestive d’Italia. Ed un clima ideale, che
                    accoglie le uve come frutti prediletti.
                </p>
            </div>
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/sfondo_porta.png'); height: 70vh ">
                    <a id="video1.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center text-center text-md-start mb-md-4">
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/numero3.png'); height:70vh ">
                    <a id="video2.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 p-4">
                <h1>La perfezione del numero 3</h1>
                <h3>Il cielo, la terra e l'uomo...</h3>
                <p>La ricorrenza del numero tre definisce le vite di generazioni di donne e uomini che hanno abitato questo angolo di Campania, a Trentinara nel cuore del Cilento.</p>
                <p>Tre, come il Cielo, la Terra e l'Uomo. Tre come i fratelli Daniele, protagonisti di questa storia.</p>
                <p>Pietro, Gianni e Francesco sono eredi di una storica famiglia di Trentinara, pronti a portare avanti un progetto legato indissolubilmente alla propria terra.</p>
                <p>Da un primo terreno acquistato dal papà e destinato all’impianto del primo vigneto fino al vino Tredaniele.</p>
            </div>
        </div>
        <div class="row align-items-center text-center mb-md-4 text-md-start">
            <div class="col-md-6 p-4">
                <h1>Vino, Yoga & Jazz</h1>
                <h3>I nostri eventi in vigna</h3>
                <p>Una location immersa nel verde, il tramonto sul mare del Cilento, il vino Tredaniele ed i prodotti tipici della nostra terra.</p>
                <p>Non perderti i nostri eventi in vigna... ospiti delle nostre serate artisti come Fabrizio Bosso, Karima... e non solo..</p>
                <p>Vivi un'esperienza unica partecipando ad una delle sessioni di Yoga dell'insegnante Giulia Peditto..</p>
            </div>
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/yoga.png'); height: 70vh ">
                    <a id="video3.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body modb">
                                    <button type="button" class="xclose" data-bs-dismiss="modal">x</button>
                                    <iframe src=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid theme-light" id="selezione">
    <h1 class="text-center pt-5" style="color: #56abf5">Le nostre selezioni</h1>
    <section id="visualLight" class="container d-flex flex-column align-items-center justify-content-center scene1">
        <h4>Turn on/off our selection</h4>
        <div id="toggler" class="togLight"></div>
        <div class="row text-center align-items-center">
            <div class="col-12 col-md-6 white d-none">
                <img src="/Content/img/campania_fiano.png" alt="campania tredaniele bottiglia" class="imgBot" />
            </div>
            <div class="col-12 col-md-6 white descr d-none">
                <h2>Corsole Fiano Campania Igp</h2>
                <p>
                    Il Fiano Campania Igp della cantina Tredaniele esprime perfettamente i tratti varietali del vitigno di provenienza. Raffinato e piacevole al gusto, testimonia l’unicità e la vocazione
                    del territorio da cui proviene. Il colore giallo paglierino brillante con riflessi verdi introduce ad un ampio e nitido ventaglio di profumi floreali e fruttati. I caratteristici sentori
                    di tiglio, acacia e muschio si fondono con delicate sfumature di frutta esotica, agrumi ed impalpabili richiami mentolati. La bocca è intensa e morbida, di vigorosa ed equilibrata
                    sapidità e bilanciata da invitante vena acida e buon corpo.
                </p>
            </div>
            <div class="col-12 col-md-6 white d-none">
                <img src="/Content/img/fiano_borgognotta.png" alt="campania tredaniele bottiglia" class="imgBot" />
            </div>
            <div class="col-12 col-md-6 white descr d-none">
                <h2>Vesali Fiano Campania Igp</h2>
                <p>
                    Il Fiano Campania Igp della cantina Tredaniele esprime perfettamente i tratti varietali del vitigno di provenienza. Raffinato e piacevole al gusto, testimonia l’unicità e la vocazione
                    del territorio da cui proviene. Il colore giallo paglierino brillante con riflessi verdi introduce ad un ampio e nitido ventaglio di profumi floreali e fruttati. I caratteristici sentori
                    di tiglio, acacia e muschio si fondono con delicate sfumature di frutta esotica, agrumi ed impalpabili richiami mentolati. La bocca è intensa e morbida, di vigorosa ed equilibrata
                    sapidità e bilanciata da invitante vena acida e buon corpo.
                </p>
            </div>
            <div class="col-12 col-md-6 white d-none">
                <img src="/Content/img/spumante_brut.png" alt="campania tredaniele bottiglia" class="imgBot"/>
            </div>
            <div class="col-12 col-md-6 white descr d-none">
                <h2>Spumante Brut</h2>
                <p>
                    Il Fiano Campania Igp ha una beva elegante ed inconfondibile e rivela la peculiarità del territorio e l’unicità di altitudine ed esposizione della vigna di origine. È giallo paglierino
                    intenso e luminoso, al naso propone una fitta e vivace estensione di note odorose di camomilla, muschio, acacia ed eucalipto ornate da sbuffi mielati e di frutta a guscio. La bocca è
                    piena, sapida, mirabilmente armonica ed espressiva, dotata di piacevole freschezza ed ottima persistenza.
                </p>
            </div>
            <div class="col-12 col-md-6 black">
                <img src="/Content/img/paestum_rosso.png" alt="campania tredaniele bottiglia" class="imgBot" />
            </div>
            <div class="col-12 col-md-6 black descr">
                <h2>Rosso Paestum Igp</h2>
                <p>
                    Il vino Rosso Paestum Igp Tredaniele ha un colore rosso rubino intenso con riflessi violacei. Al naso, presenta sentori di frutti rossi, visciola e prugna matura, spezie dolci come pepe
                    bianco e striature di cannella accompagnate da note balsamiche. E’ un vino di ottimo corpo, con tannini rotondi e setosi. Il Rosso Paestum Tredaniele lascia intendere un’ottima
                    prospettiva di invecchiamento, dagli 8 ai 10 anni.
                </p>
            </div>
            <div class="col-12 col-md-6 black">
                <img src="/Content/img/campania_rosso.png" alt="campania tredaniele bottiglia" class="imgBot" />
            </div>
            <div class="col-12 col-md-6 black descr">
                <h2>Rosso Campania Igp</h2>
                <p>
                    Il vino Rosso Campania Igp Tredaniele è elegante e ricco di struttura. Nato per dare lunghe prospettive di piacere al palato, indossa un colore rubino intenso con sfumature violacee. Al
                    naso offre una raffinata composizione di sentori vegetali e fruttati, con sottili rimandi alle erbe aromatiche, alla prugna, all’amarena e alle spezie dolci. Seguono inebrianti note
                    terziarie di tabacco scuro, cuoio e inchiostro. Fresco, di calda eleganza e ricca struttura con tannini rotondi e compatti, lascia intendere una lunga prospettiva di invecchiamento.
                </p>
            </div>
            <div class="col-12 col-md-6 black">
                <img src="/Content/img/rosee.png" alt="campania tredaniele bottiglia" class="imgBot" />
            </div>
            <div class="col-12 col-md-6 black descr">
                <h2>Spumante Rosé metodo classico</h2>
                <p>
                    Lo Spumante Rosé metodo classico Tredaniele è un condensato di stile e piacevolezza. Lo curiamo già in vigna, a settecento metri di altitudine, con la raccolta manuale delle uve nella
                    seconda decade di Agosto che trasportiamo in cassetta. Il vino base viene prodotto con pressatura soffice del grappolo ed illimpidimento del mosto fiore per decantazione naturale.
                    Seguono l’inoculo e la fermentazione alcolica a bassa temperatura in acciaio. Lasciamo che resti in acciaio per sei mesi, per poi procedere con una lunga presa di spuma a 10°C.
                    L’affinamento in bottiglia per trenta mesi trascorre nella tranquillità della cantina, disturbata solo da periodico remuage manuale. Sboccatura a Febbraio 2020.
                </p>
            </div>
        </div>
    </section>
</section>
 
<script type="text/javascript">
    $(document).ready(function () {
        $(".start-50").click(function () {
            var video = $(this).attr("id");
            var srcBase = "/Content/video/";
            $("iframe").attr("src", srcBase + video + "?autoplay=1")
        })
        $(".xclose").click(function () {
            $("iframe").prop("src", "")
        })
        $("#toggler").click(function () {
            $("#selezione").toggleClass("theme-dark");
            $("#selezione").toggleClass("theme-light");
            $("#visualLight").toggleClass("scene2");
            $(this).toggleClass("togLight");
            $(this).toggleClass("togDark");
            $(".white").toggleClass("d-none")
            $(".black").toggleClass("d-none")
        })

    })

</script>