@{
    ViewBag.Title = "About";
}

<section class="container-fluid tableBack">
    <div class="container-fluid pt-5 pb-5 text-white sectionhome">
        <div class="row align-items-center text-center text-md-start mb-md-4">
            <div class="col-md-6 p-4">
                <h1>Cantina Tredaniele</h1>
                <h3>Vini e spumanti del Cilento</h3>
                <p>
                    Stai per iniziare il viaggio alla scoperta della Cantina Tredaniele e dei tre fratelli innamorati della propria terra ed eredi di una
                    famiglia storica di Trentinara.
                </p>
                <p>
                    Siamo a Trentinara, in provincia di Salerno, possiamo volgere lo sguardo verso il mare, abbracciare il Cilento, la vallata di Paestum e la costiera amalfitana, fino a scorgere Capri da
                    lontano.
                </p>
                <p>
                    I vitigni che oggi definiamo autoctoni del Cilento furono portati dai colonizzatori greci giunti dalle coste del Peloponneso. Trovarono, in questa terra dura da coltivare, il suolo
                    ideale per crescere la vite: colline, montagne e pianure che, in pochi chilometri, portano al meraviglioso mare che bagna la costa tra le più suggestive d’Italia. Ed un clima ideale, che
                    accoglie le uve come frutti prediletti.
                </p>
            </div>
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/sfondo_porta.png'); height: 70vh ">
                    <a id="video1.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center text-center text-md-start mb-md-4">
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/numero3.png'); height:70vh ">
                    <a id="video2.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 p-4">
                <h1>La perfezione del numero 3</h1>
                <h3>Il cielo, la terra e l'uomo...</h3>
                <p>La ricorrenza del numero tre definisce le vite di generazioni di donne e uomini che hanno abitato questo angolo di Campania, a Trentinara nel cuore del Cilento.</p>
                <p>Tre, come il Cielo, la Terra e l'Uomo. Tre come i fratelli Daniele, protagonisti di questa storia.</p>
                <p>Pietro, Gianni e Francesco sono eredi di una storica famiglia di Trentinara, pronti a portare avanti un progetto legato indissolubilmente alla propria terra.</p>
                <p>Da un primo terreno acquistato dal papà e destinato all’impianto del primo vigneto fino al vino Tredaniele.</p>
            </div>
        </div>
        <div class="row align-items-center text-center mb-md-4 text-md-start">
            <div class="col-md-6 p-4">
                <h1>Vino, Yoga & Jazz</h1>
                <h3>I nostri eventi in vigna</h3>
                <p>Una location immersa nel verde, il tramonto sul mare del Cilento, il vino Tredaniele ed i prodotti tipici della nostra terra.</p>
                <p>Non perderti i nostri eventi in vigna... ospiti delle nostre serate artisti come Fabrizio Bosso, Karima... e non solo..</p>
                <p>Vivi un'esperienza unica partecipando ad una delle sessioni di Yoga dell'insegnante Giulia Peditto..</p>
            </div>
            <div class="col-md-6 p-4">
                <div class="video-box" style="background-image: url('/Content/img/yoga.png'); height: 70vh ">
                    <a id="video3.mp4" class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="border-animation mt-4 border1"></span>
                        <span class="border-animation mt-4 border2"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body modb">
                                    <button type="button" class="xclose" data-bs-dismiss="modal">x</button>
                                    <iframe src=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<script type="text/javascript">
    $(document).ready(function () {
        $(".start-50").click(function () {
            var video = $(this).attr("id");
            var srcBase = "/Content/video/";
            $("iframe").attr("src", srcBase + video + "?autoplay=1")
        })
        $(".xclose").click(function () {
            $("iframe").prop("src", "")
        })
    })

</script>