@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid" style="background-color: #22262596 ">
    <div class="container" id="contact" style="background-image: url('../../content/img/events.jpg');">

        <div class="rowContact d-flex flex-column justify-content-between">
            <div class="row" style="width:inherit">
                <div class="col-4">
                    <p><a href="https://www.facebook.com/vinotredaniele/" target="_blank" style="color:white"><i class="bi bi-facebook" style="color: #95fdea"></i> Vino Tredaniele</a></p>
                    <p><a href="https://www.instagram.com/tredaniele/" target="_blank" style="color:white"><i class="bi bi-instagram" style="color: #95fdea"></i> tredaniele</a></p>
                    <p style="color:white"><i class="bi bi-phone-vibrate-fill" style="color: #95fdea"></i> 340.4743176</p>
                </div>
                <div class="col-4"></div>
                <div class="col-4 text-white" style="font-size:86%">
                    <h6 style="color: #95fdea; font-weight: 700; text-align: center; font-size: 130%">TREDANIELE</h6>
                    <div class="d-flex">
                        <div class="col-2">
                            <a href="https://www.google.com/maps/place/Vino+Tredaniele/40.4054179,15.1335161,15z/data=!4m5!3m4!1s0x0:0xb4403ec1156aacbd!8m2!3d40.4054179!4d15.1335161" target="_blank">
                                <i class="bi bi-geo-fill" style="color: #95fdea"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <p>Contrada Secca <br /> Vesole <br /> Trentinara(SA)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0">
                        <a href="https://www.google.com/maps/place/Via+Roma,+6,+84070+Trentinara+SA/40.4006765,15.1074508,21z/data=!4m5!3m4!1s0x133956dece7aaa3f:0x7a6ad5952ca749ad!8m2!3d40.4005874!4d15.10758!10m2!1e3!2e1" target="_blank">
                            <i class="bi bi-geo-alt-fill" style="color: #95fdea;"></i><span style="color: #95fdea; font-weight: 700; font-size: 85%"> Shopper <span style="color: white">- Piazza dei Martiri, 2 - Trentinara(SA)</span></span>
                        </a>
                    </p>
                    <p>
                        <a>
                            <i class="bi bi-envelope-at-fill" style="color: #95fdea;"></i><span style="color: #95fdea; font-weight: 700; font-size: 85%"> E-mail: <span style="color: white">info@tredaniele.it</span></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>  