@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid row">
    <div class="home col-6 text-center m-auto">
        <p class="title">TREDANIELE</p>
        <h3>VINI E SPUMANTI DEL CILENTO</h3>
        <btn class="btn btn-outline-light mx-auto mt-2 fs-5" style="width:fit-content">L'AZIENDA</btn>
    </div>
</div>