@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid row">
    <div class="home col-6 text-center m-auto div-title">
        <p class="title">TREDANIELE</p>
        <h3 style="color:white">VINI E SPUMANTI DEL CILENTO</h3>
        <btn id="aziendaBtn" class="btn btn-outline mx-auto mt-2 fs-5" style="width:fit-content"><a id="LinkAzienda" href="/Home/About">L'AZIENDA</a></btn>
    </div>
</div>
